In [2]:
import pandas as pd
ucl_data = pd.read_csv('cov19tracker_cleaned.csv')

In [3]:
ucl_data.head()

,Unnamed: 0,state,year-month,endtime,gender,age,household_size,household_children,child_age_1,child_age_2,...,w4_2,w4_3,w4_4,w4_5,w4_6,w4_7,w4_8,w4_9,w4_10,w4_11
0,0,California,2020-02-01,02/04/2020 08:11,Female,33.0,5,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Pennsylvania,2020-02-01,02/04/2020 08:12,Male,38.0,4,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Florida,2020-02-01,02/04/2020 08:15,Female,48.0,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,California,2020-02-01,02/04/2020 08:15,Male,31.0,5,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Florida,2020-02-01,02/04/2020 08:15,Female,69.0,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ucl_data.shape

(65860, 39)

In [5]:
ucl_data.columns

Index(['Unnamed: 0', 'state', 'year-month', 'endtime', 'gender', 'age',
       'household_size', 'household_children', 'child_age_1', 'child_age_2',
       'child_age_3', 'child_age_4', 'child_age_5', 'child_education_1',
       'child_education_2', 'child_education_3', 'child_education_4',
       'i10_health', 'i11_health', 'r1_1', 'WCRV_4', 'employment_status',
       'cantril_ladder', 'PHQ4_1', 'PHQ4_2', 'PHQ4_3', 'PHQ4_4', 'CORE_B2_4',
       'w4_1', 'w4_2', 'w4_3', 'w4_4', 'w4_5', 'w4_6', 'w4_7', 'w4_8', 'w4_9',
       'w4_10', 'w4_11'],
      dtype='object')

In [6]:
stress_df = pd.DataFrame(ucl_data['PHQ4_1'])

In [7]:
stress_df.value_counts()

PHQ4_1
                           13563
Not at all                  9322
Several days                5072
More than half the days     2502
Nearly every day            1949
Prefer not to say            522
dtype: int64